$nav-bg-color: #10101DE5;
$white-100: #FFFFFF;

$nav-link-color-current: #43ABF0;

$logo-text-blue-color: #43ABF0;
$logo-text-net-color: #FFFFFF;

$bg-color: #000000;
$text-dark-color: #000000;
$btn-text-dark-color: #2A2B30;
$btn-text-light-color: #2A2B30;
$intro-blue-color: #3399e5;
$btn-blue-color: #3E9CDC;

$content-text-blue-color: #43ABF0;
$content-text-gray-color: #BBBBBB;

$content-dots-color: #C4C4C4;
$content-circle-color: #3E9CDC;
$content-circle-border-color: #286690;
$map-bg-color: #272733;


$footer-bg-color: #3D4050;
$vector-color: #C3C3C3;
$text-grey-color: #C3C3C3;
$icon-color: #3E9CDC;

$input-header-bg-color: #3D4050D9;
$input-text-selected-color: #42a9ed;
$input-selectBox-color: #272733;
$input-scrollbar-color: #3D4050;
$input-scroll-color: #3E9CDC;

