*::not(img),
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: baseline;
	border-collapse: collapse;
	border-spacing: 0;
	font-family: system-ui, "Verdana";
	overflow-wrap: break-word;
	hyphens: auto;
}

html {
  font-size: clamp(
    9px, 
    10px, 
    11px
  );
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
	min-height: 100vh;
	min-height: 100dvh;
	font-size: 1.6rem;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg,
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
	max-width: 100%;
}

ul, ol {
	padding: 0;
  list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

p, span, a {
	text-align: inherit;
	font-family: inherit;
	color: inherit;
	font-size: inherit;
	vertical-align: baseline;
}

blockquote, q {
	quotes: "" "";
}

blockquote::before, 
blockquote::after,
q::before, 
q::after {
  content: '';
}

input[type='text']:invalid,
input[type='email']:invalid {
  box-shadow: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

td, th {
  border: 1px solid #000;
}

table {
	border-collapse: collapse;
  border-spacing: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

-webkit-search-cancel-button {
    display: none;
}