:root {
  @include font-face("Raleway", 'Raleway-VariableFont_wght');
  @include font-face("Lato-Regular", 'Lato-Regular'); // 400
  @include font-face("Lato-Semibold", 'Lato-Semibold'); // 600
  @include font-face("Lato-Bold", 'Lato-Bold'); // 700
  @include font-face("Lato-Heavy", 'Lato-Heavy'); // 800

  ::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
  }

  ::-webkit-scrollbar-track {
    background-color: #FFFFFFD9;
    border-radius: 100vw;
  }

  ::-webkit-scrollbar-thumb {
    background: #3E9CDC;
    border-radius: 100vw;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3E9CDC;
    border-radius: 100vw;
  }

  @supports (scrollbar-color: red blue) {
    * {
      scrollbar-color: #FFFFFFD9;
      scrollbar-width: auto;
    }
  }
}

.header {
  @include fixed-size(100%, 10rem);
  position: fixed;
  background-color: $nav-bg-color;
  @include flex-center;
  padding: clamp(0.5rem, 1rem, 4rem);

  z-index: 3;
  
  &-container {
    width: min(100vw, 117rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: $white-100;
    font-size: clamp(2rem, 2.3rem, 2.8rem);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0;
    
    font-display: swap;
    align-self: center;
    vertical-align: middle;
    font-family: "Lato-Heavy";
  }

  &__logo-link:focus {
    @include link-focused;
  }

  &__logo-accent {
    color: $nav-link-color-current;
  }

  &__mobile-menu {
    display: none;
  }
}

.header__nav-list {
  @include flex-center-vert;
  gap: clamp(2rem, 6rem, 4vw);

  &__item {
    height: 1.6rem;

    font-family: Lato;
    font-weight: 600;
    font-size: 1.3rem;
    
    letter-spacing: 0;
    text-align: right;
    vertical-align: middle;
    text-transform: uppercase;
    color: $white-100;
    font-family: "Lato-Semibold";
  }

  &__link:focus {
    @include link-focused;
  }

  &__link:hover {
    @include link-hovered;
  }

  &__item--current {
    height: 1.6rem;

    font-family: Lato;
    font-weight: 600;
    font-size: 1.3rem;
    
    letter-spacing: 0;
    text-align: right;
    vertical-align: middle;
    text-transform: uppercase;
    color: $nav-link-color-current;
    font-family: "Lato-Semibold";
  }
}


.main {
  @include flex-column;
  width: 100%;
  position: relative;
}

.intro-section {
  @include fixed-size(100%, 85rem);
  @include flex-center;
  @include background-cover;
  background-color: $bg-color;

  position: relative;
  z-index: 2;
  overflow: visible;
  
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url('/public/jpeg/intro.jpeg');
    background-image: image-set(
      url('/public/webp/intro.webp') type('image/webp'),
    );
    background-size: cover;
    z-index: 1;
  }
}

.intro-container {
  width: min(100vw, 117rem);
  display: grid;
  grid-template-areas:
  "header header"
  "list list"
  "btn 1fr";
  gap: 8rem;
  padding-top: 1.8rem;
  position: relative;
  z-index: 3;
}

.intro__title {
  justify-self: flex-start;
  max-width: 78rem;
  grid-area: header;
  word-wrap: normal;
  font-family: "Lato-Bold";
  font-weight: 700;
  
  letter-spacing: 0;
  text-transform: uppercase;
  color: $text-dark-color;
  font-size: clamp(2.7rem, 3vw, 4.8rem);

  &-accent {
    color: $intro-blue-color;
  }
}

.intro-section__list-container {
  grid-area: list;
  display: grid;
  gap: 1rem;
}

.intro-section__list-title {
  font-size: clamp(1.5rem, 1.7vw, 2rem);
  
  letter-spacing: 0;
  vertical-align: middle;
  color: $text-dark-color;
  font-family: "Lato-Bold";
  font-weight: 700;
}

.intro-section__list {
  display: grid;
  list-style: inside;
  list-style: none;
  gap: 0.5rem;
}

.intro-section__item {
  @include flex-center-vert;
  white-space: normal;
  gap: 0.1rem;
  font-family: "Lato-Regular";
  font-weight: 400;
  font-size: clamp(1.3rem, 1.4vw, 2rem);
  
  vertical-align: middle;

  &_before {
    @include grid-center;
    @include fixed-size(2.1rem, 2.5rem);
  }
}

.intro-section__btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-area: btn;
  gap: clamp(2rem, 2vw, 3rem);
  width: 39.6rem;
  font-family: "Lato-Regular";
  font-weight: 400;
}

.intro-section__btn_cta {
  @include flex-center;

  font-size: 1.3rem;
  background-color: $btn-blue-color;
  border: 0.1rem solid $white-100;
  color: $white-100;
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &:focus {
    @include btn-focused-dark;
  }
}

.intro-section__btn_more {
  @include flex-center;

  font-size: 1.3rem;
  background-color: $white-100;
  border: 1px solid #6F6D7B;
  color: #2A2B30;
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &:focus {
    @include btn-focused-dark;
  }
}

.order-section {
  @include fixed-size(100%, 92rem);
  @include flex-center;
  position: relative;
  z-index: 1;

  @include background-cover;
  background-color: $map-bg-color;

    &::after {
    content: '';
    position: absolute;
    width: 100%;
    top: -5.1rem;
    left: 0;
    opacity: 10%;
    min-height: 100rem;
    background-image: url('/public/png/map.png');
    background-image: image-set(
      url('/public/webp/map.webp') type('image/webp'),
    );
    background-size: cover;
    z-index: 0;
  }
}

.order-section-container {
  display: grid;
  width: min(100vw, 117rem);
  height: 100%;
  position: relative;
  z-index: 2;
}

.order-section__description-container {
  @include flex-column;
  justify-content: center;
  text-align: center;
  gap: 5rem;
  

  font-family: "Lato-Regular";
  color: $white-100;

  .order-section__main-title {
    font-family: "Lato-Heavy";
    font-weight: 800;
    font-size: clamp(2.5rem, 2.8vw, 3.6rem);
    letter-spacing: 0;
    vertical-align: middle;
    text-transform: uppercase;
    word-spacing: 1rem;
  }

  .order-section__main-title-accent {
    color: #3e9cdc;
  }

  .order-section__main-subtitle {
    color: #BBBBBB;
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 0;
    vertical-align: middle;
  }
}

.order-section__title-container {
  display: grid;
  gap: 3rem;
}

.order-section__order-steps {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  justify-content: space-between;
}

.order-section__order-step {
  @include flex-center;
  flex-direction: column;
  gap: 2rem;

  .order-section__order-bg {
    width: 10rem;
    height: 10rem;
    @include grid-center;
    position: relative;

    border-radius: 50%;
    border-width: 5px;

    background: #3E9CDC;
    border: 5px solid #286690;
  }

  .order-section__order-text {
    font-family: "Lato-Regular";
    font-weight: 400;
    font-size: 1.6rem;
    
    letter-spacing: 0;
    text-align: start;
  }
}

.order-section__dot-group {
  transform: translateX(110%);
  position: absolute;
  width: 11rem;
  @include flex-center;
  gap: min(2rem, 3vw);

  .order-section__dot {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: #C4C4C4;
  }
}

.order-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  align-items: center;
  align-content: center;
}

.order-form__system-label {
  @include visually-hidden;
}
.order-form__system-input {
  @include visually-hidden;
}

.select-container {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  position: relative;
  font-family: "Lato-Regular";
}

.select-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 4.8rem;

  font-size: 1.6rem;
  font-weight: 400;
  color: $white-100;
  font-family: Lato;

  letter-spacing: 0;
  vertical-align: middle;

  cursor: pointer;

  gap: 0.5rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding: 1rem;

  background-color: #FFFFFFD9;
  border: 1px solid $white-100;

  font-family: "Lato-Regular";
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0;
  vertical-align: middle;
  color: #272733;

  &::placeholder {
    color: #272733;
  }
  
  &__text {
    font-family: "Lato-Regular";
  }

  &__arrow {
    @include flex-center;
    transition: transform 0.3s ease;
    fill: currentColor;
    stroke: black;
    stroke-width: 2px;

    &.open {
      transform: rotate(180deg);
    }
  }

  &:focus {
    @include btn-focused-light;
  }
}

.order-form__select-options-list {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background: #fff;
  z-index: 1000;
  max-height: 20rem;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &.open {
    display: block;
  }
}

.select-container.open .order-form__select-options-list {
  display: block;
  border-radius: 0 0 0.3rem 0.3rem; 
}

.order-form__select-option {
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: background 0.1s ease;

  &:hover {
    background: #f0f0f0;
  }

  &--selected {
    background: #e9e9e9;
    color: #007bff;
  }
}

.order-form__email-label {
  @include visually-hidden;
}

.order-form__email-input {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  min-height: 4.8rem;
  
  background-color: #FFFFFFD9;
  padding: 1rem;

  border-radius: 3px;
  border: 1px solid $white-100;

  font-family: "Lato-Regular";
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0;
  vertical-align: middle;
  color: #272733;

  &::placeholder {
    color: #272733;
  }

  &:focus {
    @include btn-focused-light;
  }
}

.order-form__name-label {
  @include visually-hidden;
}

.order-form__name-input {
  min-height: 4.8rem;

  grid-row: 1 / 2;
  grid-column: 3 / 4;

  background-color: #FFFFFFD9;
  padding: 1rem;

  border-radius: 3px;
  border: 1px solid $white-100;

  font-family: "Lato-Regular";
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0;
  vertical-align: middle;
  color: #272733;

  &::placeholder {
    color: #272733;
  }

  &:focus {
    @include btn-focused-light;
  }
}

.order-form__range-container {
  grid-row: 2 / 3;
  grid-column: 1 / span 2;
  display: grid;
  align-items: center;
  gap: 2rem;
}

.order-form__range-text-container {
  @include flex-center-vert;
  justify-content: space-between;
}

.order-form__range-label {
  @include visually-hidden;
}

.order-form__range-text {
  color: $white-100;
  font-family: "Lato-Regular";
  font-size: 1.8rem;
}

.order-form__range-value {
  font-family: "Lato-Semibold";
  font-weight: 600;
  font-size: 1.8rem;
  
  letter-spacing: 0;
  text-align: right;
  color: #FFFFFFD9;
}

.order-form__range-input {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #FFFFFFB2;

  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.6rem;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background: #42A9ED;
    border: 3px solid #286690;
    cursor: grab;
    transition: background 0.3s, transform 0.1s;
  }

  &::-webkit-slider-thumb:active {
    background: #2b8ad0;
    transform: scale(1.1);
  }

  &::-moz-range-thumb {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: #42A9ED;
    border: 3px solid #286690;
    cursor: grab;
    transition: background 0.3s, transform 0.1s;
  }

  &::-moz-range-thumb:active {
    background: #2b8ad0;
    transform: scale(1.1);
  }

  &::-moz-range-track {
    background-color: #FFFFFFB2;
    height: 0.6rem;
    border-radius: 0.5rem;
  }

  &::-moz-focus-outer {
    border: 0;
  }

  &:focus {
    @include btn-focused-light;
  }
}

.order-form__file-container {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.order-form__file-label {

  @include flex-center;
  gap: 1rem;
  padding: 1rem;
  min-height: 4.8rem;

  border-radius: 3px;
  border: 2px solid #3E9CDC;
  background-color: $white-100;
  color: #272733;
  cursor: pointer;
  font-family: "Lato-Regular";
  font-size: 1.8rem;
  text-align: center;
  
  &:focus {
    @include btn-focused-light;
  }
}

.order-form__file-input {
  @include visually-hidden;
}

.order-form__file-label__file-icon {
  @include fixed-size(1.7rem, 2rem);
}

.order-form__file-text {
  align-self: center;
  text-align: center;
  font-family: "Lato-Semibold";
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0;
  vertical-align: middle;
  text-transform: uppercase;
}

.order-form__btn-submit {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  width: 100%;

  min-height: 4.8rem;
  text-align: center;
  background-color: #3E9CDC;
  border: 1px solid $white-100;
  border-radius: 0.4rem;
  border-width: 0.1rem;
  padding: 1.5rem 1rem;

  color: $white-100;
  font-family: "Lato-Semibold";
  font-weight: 600;
  font-size: 1.5rem;
  
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;

  &:focus {
    @include btn-focused-light;
  }
}

.footer {
  @include fixed-size(100%, 8rem);
  @include flex-center;
  flex-wrap: wrap-reverse;
  position: relative;
  z-index: 2;
  
  background-color: $footer-bg-color;

  &__copyright {
    height: 2rem;
    font-weight: 400;
    vertical-align: middle;
    color: $white-100;
    text-align: center;
  }

  &__payments-list {
    @include flex-center-vert;
    color: $text-grey-color;
    gap: 4rem;
  }

  &__payment-item {
    @include flex-center;
    gap: 1rem;
  }

  &__payment-icon {
    @include fixed-size(2rem);
  }

  &__contacts-list {
    @include flex-center-vert;
    color: $white-100;
    gap: 4rem;
  }

  &__contact-item {
    @include flex-center;
  }

  &__contact-item-link {
    @include flex-center;

    gap: 1rem;
    cursor: pointer;

    &:focus {
      @include link-focused;
    }

    &:hover {
      @include link-hovered;
    }
  }

  &__contact-icon {
    @include fixed-size(2rem);
  }
}

.footer__container {
  width: min(100vw, 117rem);
  @include flex-center;
  flex-wrap: wrap;
  font-size: 1.3rem;
  gap: 2.8rem;
}

.header__mobile-menu {
  display: none;

  @media (max-width: 767px) {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 3.1rem;
    height: 3.5rem;
  }

  &-icon {
    position: relative;
    transition: background-color 0.3s ease;
  }

  &-icon,
  &-icon::before,
  &-icon::after {
    content: "";
    display: block;
    height: 0.3rem;
    background-color: $white-100;
    width: 100%;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  &-icon::before {
    position: absolute;
    top: -0.8rem;

    .header__mobile-menu[aria-expanded="true"] & {
      top: 0;
      transform: rotate(45deg);
    }
  }

  &-icon::after {
    position: absolute;
    top: 0.8rem;
    
    .header__mobile-menu[aria-expanded="true"] & {
      top: 0;
      transform: rotate(-45deg);
    }
  }

  .order-section__order-text {
    text-align: center;
  }
}

@media screen and (max-width: 1279px) {
  .intro-section::before {
    background-image: url('/public/jpeg/intro-tablet.jpeg');
    background-image: image-set(
      url('/public/webp/intro-tablet.webp') type('image/webp'),
    );
  }
  .order-section::after {
    background-image: url('/public/png/map-tablet.png');
    background-image: image-set(
      url('/public/webp/map-tablet.webp') type('image/webp'),
    );
  }

  .intro-container {
    width: min(100vw, 90rem);
  }

  .order-section-container {
    width: min(100vw, 90rem);
  }

  .order-section__order-steps {
    grid-template-columns: repeat(6, 1fr);
  }
  .order-section__order-step {
    grid-column: span 2;
    text-align: center;
  }
  .order-section__dot-group {
    display: none;
  }

  .footer__container {
    gap: clamp(0.5rem, 1rem, 2rem);
    padding: clamp(0.5rem, 2rem, 2.5rem);
  }

  .footer__copyright {
    order: 3;
  }
  .footer__bar-icon--first {
    order: 2;
  }
}

@media screen and (max-width: 1023px) {
  .intro-container {
    width: 100%;
    padding: 0 clamp(0.5rem, 1rem, 4rem);
  }

  .order-section {
    height: auto; 
  }
  .order-section-container {
    width: 100%;
    padding: clamp(3rem, 4rem, 5rem) clamp(0.5rem, 1rem, 4rem);
    gap: clamp(3rem, 4vw, 5rem);
  }
  .order-section__order-steps {
    grid-template-columns: repeat(2, 1fr);
  }
  .order-section__order-step {
    grid-column: span 1;
  }

  .order-form {
    grid-template-columns: repeat(2, 1fr);
  }
  .select-container {
    grid-area: auto;
  }
  .order-form__email-input {
    grid-area: auto;
  }
  .order-form__name-input{
    grid-area: auto;
  }
  .order-form__range-container {
    grid-area: auto;
    grid-column: span 2;
  }
  .order-form__file-container {
    grid-area: auto;
  }
  .order-form__btn-submit {
    grid-area: auto;
    grid-column: span 2;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    height: auto;
  }
  .footer__bar-icon--first {
    display: none;
  }
  .footer__bar-icon {
    display: none;
  }
  .footer__container {
    @include grid-center;
    justify-content: space-around;
    padding: clamp(0.5rem, 1rem, 4rem);
    gap: 1rem;
  }

  .header__nav-list {
    display: none;

    &.open {
      position: absolute;
      @include grid-center;
      top: 100%;
      left: 0%;
      width: 100%;
      padding: 3rem;
      gap: 3rem;
      background-color: $nav-bg-color;
      z-index: 100;
    }
  }
}

@media screen and (max-width: 665px) {
  .intro-section::before {
    background-image: url('/public/jpeg/intro-mobile.jpeg');
    background-image: image-set(
      url('/public/webp/intro-mobile.webp') type('image/webp'),
    );
  }
  .order-section::after {
    background-image: url('/public/png/map-mobile.png');
    background-image: image-set(
      url('/public/webp/map-mobile.webp') type('image/webp'),
    );
  }
  .order-section__order-steps {
    @include flex-column;
  }
  .order-form {
    @include flex-column;
    align-items: stretch;
  }
}

@media screen and (max-width: 449px) {
  .intro__title {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .intro-section__list-title {
    text-align: center;
  }
  .intro-section__btn-container {
    grid-column: span 2;
    grid-template-columns: 1fr;
    width: auto;
  }

  .footer__payments-list {
    flex-direction: column;
    gap: 1rem;
  }
  .footer__contacts-list {
    flex-direction: column;
    gap: 1rem;
  }
}